.navbar{
    position: fixed; 
    padding: 1rem;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Handjet', sans-serif;
    background-color: blue;
    color: white;
    font-weight: 800;
    font-size: 1.7rem;
    display: flex;
    z-index: 2;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-generator-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    padding: 2%;
    border-radius: 10px;
    margin-top: 5%;
}

.password-field{
    position: relative;
    width: 100%;
}

.password-field .password{
     width: calc(100% - 20px); 
     font-size: 15px;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     margin-bottom: 3rem;
     margin-top: 10px;
     color: white;
}

.password-field .password::placeholder{
    color: white;
}

.password-field .password:focus{
    outline: none;
    border-color: black;
}

.password-field .copyIcon{
    position: absolute;
    right: 0;
    top: 50%;
    width: 40px;
    height: 30px; 
    padding: 12px;
    transform: translate(20% , -88%);
    cursor: pointer;
}

.customize-checkboxes {
    display: flex;
}

.checkboxes {
    display: flex;
    width: 100%;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right {
    margin-left: 20px;
}

.checkbox {
    margin-bottom: 10px;
}

.checkbox input {
    margin-right: 10px;
}

.password-length h3{
    text-align: center;
    line-height: 10px;
}

.slider{
    position: relative;
    top: -10px;
    display: flex;
    align-items: center;
} 

.slider p{
    margin-right: 20px;
}

.slider .range-value{
    width: 50px;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    color: blue;
    text-align: center;
}

.slider .range{
    width: calc(100% - 80px);
    height: 100%;
    border-radius: 5px;
    background-color: white;
    color: blue;
    padding: 0 20px;
    display: flex;
    text-align: center; 
}

.slider .range input{
    width: 100%;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button{
    margin-left: 15px;
    padding: 0 25px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(56, 111, 251);
    border: none;
    margin-top: 5%;
    cursor: pointer;
    color: white;
}

@media(max-width:719px){
    .password-generator-container{
        width: 90%;
        margin-top: 12%;
    }

    .checkbox label{
        font-size: 15px;
    }

    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}